@font-face {
    font-family: Avenir;
    src: url("./police/AvenirLTStd-Black.otf");
}
$blue_sayan: #8de8fe;
$blue_bg: #0c131f;
$police_avenir: Avenir;

* {
    font-family: $police_avenir;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
