.connection{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3%;
    
   .connection_button {
       border: none;
       border-bottom: 2px solid #fff;
       font-size: 15px;
        color:#fff;
        background: none;
       
    }

    .connection_pseudo{
        border-bottom: white 1px solid;
       text-align: center;
       margin-bottom: 1%;
       input{
           border-top: none;
           border-right: none;
           border-left: none;
           border-bottom: none;
           margin-bottom: 3%;
           color: white;
           background-color: $blue_bg;
           width: 90%;
           text-align: center;
           &::placeholder{
               color: white;
               text-align: center;
           }
           &:focus{
            outline: none;
            border: none;
        }
       }
    }
    .connection_password{
        text-align: center;
        border-bottom: white 1px solid;
        input{
            width: 90%;
            text-align: center;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: none;
            margin-bottom: 3%;
            color: white;
            background-color: $blue_bg;
            &::placeholder{
                color: white;
                text-align: center;
            }
            &:focus{
                outline: none;
                border: none;
            }
        }
    }
    p{
        color: red;
        font-size: 15px;
        margin-top: 5px;
    }
    .fleche{
        margin-left: 50%;
        margin-bottom: 10%;
        border: none;
        background: none;
        color: #fff;
        font-size: 15px;
       
    }
}