.regles {
    color: #ffffff;
    margin: 0 1%;
    
    padding: 30px;
    

    .condition__titre {
       font-size: 30px;
        margin-bottom: 15px;
        background-image: linear-gradient(to bottom,
        transparent 0%,
        transparent 68%,
        #8de8fe 68%,
        #8de8fe 95%,
        transparent 95%);

    }
    h3{
        font-size: 27px;
        text-align: left;
       
    }
    h4{
        font-size: 20px;
        margin-top: 2%;
        color: $blue_sayan;
        margin-bottom: 0.5%;
        
    }
    li{
        margin-left: 10%;
    }
}