.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 1%;
    padding: 0;
    background-color: $blue_bg;
    height: 80px;

    img {
        width: 349px;
        height: 160px;
    }

    &__links {
        span {
            margin-left: 8px;
        }

        a {
            text-decoration: none;
            color: #fff;
            font-family: $police_avenir;
            font-size: 20px;
            padding: 10px;

            @media screen and (max-width: 705px) {
                font-size: 15px;
            }
            
            @media screen and (max-width: 550px) {
               display: flex;
               flex-wrap: wrap;
            }
        }
    }

    &__logos__sociaux {
        a {
            color: #fff;
            font-size: 30px;
            padding: 7px;

            @media screen and (max-width: 705px) {
                font-size: 18px;
            }
        }
    }
}