.header2 {
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: $blue-bg;

    .logo_connection {
        display: flex;
        align-items: center;
        margin-left: 3%;
    }

    .links {
        display: flex;
        margin-right: 2%;
        justify-content: space-between;
        margin-top: 20px;

        ul{
            display: flex;
            flex-direction: row;
            list-style: none;
        

        a {
            margin: 10px;
            padding: 20px;
            border-radius: 4px;
            font-size: 16px;
            text-decoration: none;
            color: #fff;
            cursor: pointer;
        }
        button{
            border: none;
            background: none;
            color: #fff;
            font-size: 16px;
            cursor:pointer;
            ;
        }
    }
    }

    .nav-link  {
        &--active {
            border-bottom: 6px solid #8de8fe;

        }
    }

    .buttonDeconnexion {
        border: none;
        background-color: $blue_bg;
        color: #fff;

    }

}