

.header2 {
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: $blue-bg;

    .button__burger {
        display: flex;
        justify-content: center;
     
    
        .button {
            background: none;
            color: white;
            border: none;
        }
    
        @media screen and (min-width: 704px) {
            display: none;
        }
    }

    &__logo {
        order: 1;
        display: flex;
        align-items: center;
        margin-left: 15px;
    }

    &__links__burger {
        display: flex;
        flex-direction: column;
        order: 3;
        text-align: center;


        a {
            text-decoration: none;
            margin-right: 15px;


        }
    }

    &__links {
        display: flex;
        margin-right: 2%;
        justify-content: space-between;
        margin-top: 20px;
        order: 2;

        &__logo__connection {
            display: flex;
            margin-left: 3%;
        }

        @media screen and (max-width: 705px) {
            display: none;
        }

        a {
            margin: 10px;
            padding: 20px;
            border-radius: 4px;
            font-size: 16px;
            text-decoration: none;
            color: #fff;
            cursor: pointer;
        }
    }

    .nav-link {
        &--active {
            border-bottom: 6px solid #8de8fe;

        }
    }
}