.body {
    height: 100vh;
    width: 100%;

}

.bg__video {
    position: absolute;
    height: 80vh;
    width: 100%;
    video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}

.inscription {
    height: 100vh;
    width: 100%;
    position: absolute;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.65);
    padding: 5% 5%;
    background-color: rgba(0, 0, 0, 0.425);

    ::placeholder {
        color: rgba(255, 255, 255, 0.73);

    }

    @media screen and (max-width: 705px) {
        h1 {
            margin-top: 30%;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fleche {
        background: none;
        color: white;
        font-size: 2rem;
        border-style: none;
        margin-top: -50px;
        cursor: pointer;

        @media screen and (max-width: 705px) {
            margin-top: 5%;
        }

    }

    .inscription_button {
        text-align: center;
        opacity: 0.5;

    }

    &__pseudo {
        margin-top: 45px;
    }


    &__password button {
        background-color: rgba(255, 235, 205, 0);
        border-style: none;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        width: 50%;

    }

    .inscription__pseudo,
    .inscription__date,
    .inscription__mail,
    .inscription__password {
        text-align: start;
        display: flex;
        margin-bottom: 6%;
        border-bottom: 1px solid #fff;
        width: 35%;

        @media screen and (max-width: 630px) {
            width: 40%;

        }

        input {
            color: rgba(255, 255, 255, 0.73);
            border-style: none;
            background-color: rgba(255, 235, 205, 0);
            font-size: 18px;

            &:focus {
                outline: none;
                border: none;

            }

            &__date {
                input {
                    margin-right: 10%;
                }
            }
        }
    }
}