.interest_label {
        margin-right: 10px;

    }

.interests {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20%;
    
   
    .centre_interests1, .centre_interests2, .centre_interests3 {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
       }
    .title_interets {
        display: flex;
        justify-content: center;
    }
    p {
       font-size: 25px;
       margin-bottom: 10%;

    }

    label {
        padding: 1rem;
        font-size: 13px;
    }

}
