.container__card__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    row-gap: 2rem;
    margin-bottom: 5%;


    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 330px;
        border-radius: 16px;
        cursor: pointer;


        .card_description {
            position: absolute;
            bottom: 150px;
            

            h1 {
                font-size: 17px;
                text-align: center;
                color: $blue_sayan;
            }

            p {
                color: #fff;
                font-size: 15px;
                margin-top: 10px;
                padding: 1rem;
                text-align: center;
            }

            .list {
                color: #fff;
                font-size: 15px;
                margin-top: 5px;
                padding: 1rem;
                text-align: center;

                ul {
                    list-style-type: none;
                }
            }
        }

        .card-image {
            width: 100%;
            transition: .5s;

            img {
                height: 300px;
                width: 100%;
                border-radius: 16px 16px 0 0;
            }
        }
        &:hover img {
            opacity: 0.1;
            transition: .5s;
        }
    }

}

.social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 20px;
    margin-right: 10px;
}

.details {
    background: #fff;
    width: 100%;
    height: 112px;
    padding: 10px;
    border-radius: 0 0 16px 16px;

    .info {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;

        h3 {
            font-size: 20px;
            color: #333;
            margin-bottom: 25px;
        }
    }

    h1 {
        font-size: 25px;
        margin-top: 15px;
        padding: 0;
        text-align: center;
    }
}